@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #cbd5e1;
  }

::-webkit-scrollbar-thumb {
    background-color: #51545990;
    border-radius: 20px;
  }
  
